<section class="contact-us" id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div id="map">


                    <div class="row">

                        <div class="col-lg-4">
                            <div class="contact-info">
                                <div class="icon">
                                    <i class="bi bi-phone"></i>
                                </div>
                                <h4>Whatsapp</h4>
                                <span>622-127-69-83</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <form id="contact" action="" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-heading">
                                <h6>Contactame</h6>
                                <h4>Puedes <em>dejar tu mensaje</em></h4>
                                <p>Si necesitas ayuda, podemos constultarlo por mensaje.</p>
                                <p>
                                    <br>
                                    <br>
                                </p>
                            </div>
                        </div>




                    </div>
                </form>
            </div>
            <div class="col-lg-12">
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/jesus.riveralopez.754"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="https://github.com/beto519">  <i class="bi-github" role="img" aria-label="GitHub"></i></a></li>



                    <li><a href="https://www.linkedin.com/in/jesus-alberto-rivera-lopez-a69027214/"><i class="bi bi-linkedin"></i></a></li>

                </ul>
            </div>
            <div class="col-lg-12">
                <p class="copyright">
                    Copyright © 2022 Ingeniero en Software. Todos los derechos reservados.

                    <br>Diseñado: <a>Jesus Albero Rivera Lopez</a>
                </p>
            </div>
        </div>
    </div>


</section>