@{
    ViewData["Title"] = "Educacion";
}

<section class="our-courses" id="educacion">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h6></h6>
                    <h4>Mi <em>Educación</em></h4>
                    <p>
                        Soy una persona que empezo con java con poo y el uso de mysql como base de datos, algunos de los servicios web que he generado fueron para trabajar con android y una aplicacion de escritorio.
                        Pase aprender php y seguia usando mysql, aplicaciones realizadas una red social, gestion de problemas.
                        Llegando a lo más reciente .Net, aplicacion generada gestion de estados de cuenta.
                    </p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="tabs">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="menu">
                                    <div class="active gradient-border"><span>Universidad</span></div>
                                    <div class="gradient-border"><span>Cursos</span></div>


                                </div>
                            </div>
                            <div class="col-lg-9">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="left-image">
                                                <img src="~/css/images/logoItson.png" alt="Logo Universidad">

                                            </div>
                                            <div class="right-content">
                                                <h4>Instituto Tecnológico de Sonora</h4>
                                                <p>
                                                    El Instituto Tecnológico de Sonora ITSON,
                                                    cuyo lema es "Educar para trascender" es una Universidad pública, autónoma, estatal que cuenta con 6 campus, con presencia en Guaymas, Ciudad Obregón,
                                                    Navojoa, y en Empalme, en Sonora, México.
                                                    <br>
                                                    <br>
                                                    <b>Licenciatura:</b> Ingenieria en Software   <br>
                                                   
                                                </p>
                                                <span>Periodo:</span>
                                                <span>2018</span>
                                                <span class="last-span">2022</span>
                                                <div class="text-button">
                                                    <a rel="nofollow" href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjhjKPb-
                            YX5AhWNEEQIHXqtBc4QFnoECBUQAQ&url=https%3A%2F%2Fwww.itson.mx%2F&usg=AOvVaw2ffNLK2gSY8Pq4k3muwiID" target="_blank">Itson</a>

                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="left-image">
                                                <img src="~/css/images/Udemy_logo.svg.png" alt="">

                                            </div>
                                            <div class="right-content">
                                                <h4>Udemy</h4>
                                                <p>

                                                    Vamos a aprender a desarrollar aplicaciones web con ASP.NET Core MVC creando múltiples proyectos. Este es un curso ideal para aquellas personas que deseen aprender ASP.NET Core MVC desde cero. No necesitas tener conocimientos previos de ASP.NET Core MVC para tomar este curso.

                                                    Mediante la creación de proyectos vas a poder ver las distintas etapas del ciclo de vida del desarrollo de aplicaciones web. Además, el tener un proyecto nos reta a tener que hacer aplicaciones verdaderamente útiles, que resuelvan algún problema para nuestros usuarios.

                                                    Y claro, estos proyectos que hagamos los podrás mostrar en tu portafolio personal, lo cual te puede servir para mostrarlo a futuros empleadores.
                                                    <br>
                                                    <br>
                                                    <b> Curso:</b> Aprende ASP.NET Core MVC 6 Haciendo Proyectos Desde Cero
                                                    <br> (Instructor:Felipe Gavilan)
                                                </p>

                                                <span>Periodo</span>
                                                <span> Jun 2022</span>
                                                <span class="last-span"> Nov 2022</span>
                                                <div class="text-button">
                                                    <a href="https://www.udemy.com/course/aprende-aspnet-core-mvc-haciendo-proyectos-desde-cero/">Udemy</a>
                                                    <a href="~/css//images/Certificado.Net.pdf" download="Certificado.Net.pdf">Descargar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

