


<section class="testimonials" id="habilidades">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h6></h6>
                    <h4>Mis<em> habilidades</em></h4>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5;">
                    <div class="item">
                        <p>
                            Aplicaciones de escritorio como facturacion, consumo de apis y creación de servicios web.
                        </p>
                        <h4>Java</h4>





                    </div>
                    <div class="item">
                        <p>Desarrollo web de red social y gestión de reportes.</p>
                        <h4>Php</h4>


                    </div>
                    <div class="item">
                        <p>Uso de base de datos como diagramas y conexion en lenguajes como php y java.</p>
                        <h4>Mysql</h4>

                    </div>
                    <div class="item">
                        <p>Conexión a base de datos principalmente usado en lenguajes como C#.</p>
                        <h4>Sql Server</h4>

                    </div>
                    <div class="item">
                        <p>Maquetado en html, bootstrap, razor pages y Angular.</p>
                        <h4>Frontend</h4>

                    </div>



                </div>
            </div>
        </div>
    </div>
</section>