@{
    ViewData["Title"] = "Servicios";
}

<section class="services" id="intereses">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h6></h6>
                    <h4>Mis <em>Intereses</em></h4>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="owl-service-item owl-carousel">
                    <div class="item">
                        <div class="service-item">
                            <div class="icon">
                                <img src="~/css/images/gaming.png" alt="">
                            </div>
                            <h4>Jugar</h4>
                            <p>Shooters como Valorant, Warzone y Fornite</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service-item">
                            <div class="icon">
                                <img src="~/css/images/service-icon-02.png" alt="">
                            </div>
                            <h4>Aprendizaje constante</h4>
                            <p>Suelo tomar cursos de capacitacion mediante Youtube o Udemy</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service-item">
                            <div class="icon">
                                <img src="~/css/images/viajar.png" alt="">
                            </div>
                            <h4>Viajar</h4>
                            <p>Me gusta visitar diferentes lugares, con la finalidad de conocer</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service-item">
                            <div class="icon">
                                <img src="~/css/images/menu.png" alt="">
                            </div>
                            <h4>Desarrollo de aplicaciones</h4>
                            <p>Me encanta crear aplicacion que faciliten o solucionen alguna problematica para las personas.</p>
                         
                        </div>
                    </div>
                    <div class="item">
                        <div class="service-item">
                            <div class="icon">
                                <img src="~/css/images/desarrollo-web.png" alt="">
                            </div>
                            <h4>Desarrollo web</h4>
                            <p>Me gusta la creacion u modificacion de las paginas web, que sean utiles y simples para el usuario.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service-item">
                            <div class="icon">
                                <img src="~/css/images/trabajo-en-equipo.png" alt="">
                            </div>
                            <h4>Trabajo en equipo</h4>
                            <p>Me gusta trabajar en equipo y escuchar diferentes opiniones, algunas de las practicas que mas me gustan es Kanban.</p>
                        </div>
                    </div>
                   

                </div>
            </div>
        </div>
    </div>
</section>